:root
	--default-font: "Montserat", Arial, sans-serif

	--base-width: 1145px

	--body-bg-color: #fff
	--body-text-color: #000

	--base-font-size: 14px

	--main-color: #E25C2A

	--second-color: #F4F4F4
	--thrid-color: #202730
	
	--border-color: #E6E6E6

	--input-hor-spacing: 51px
	--input-vert-spacing: 48px

	--input-padding: 17px 20px
	--select-padding: 17px 30px 17px 20px