<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Отзыв - шининвест
		include inc/head.pug
		include inc/css.pug
	body
		main#content
			section.top-banner
				figure.top-banner__img
					img(src="img/photos/reviews-top-img.jpg")
					figcaption.top-banner__text
						span.top-banner__text-subtitle Ирина Иванова, CEO «Шининвест» 
						span.top-banner__text-title «Мы мыслим системно, нам важен комплексный подход к IT-инфраструктуре»
				button.top-banner__scroller
			section.text-container.text-container--center-text.text-container--right-img
				.wrapper
					.text-container__text
						p Комплексный подход при создании it-продукта - специфика нашего digital-агентства. Очень важно не просто создать качественный продукт и оправдать все ожидания заказчика, но и получить от него обратную связь.
						p Например, для @shininvest.ru мы спрограммировали сайт, внедрив в него  возможность записи на сервис в один клик для клиентов и функциональный инструмент работы с заявками для сотрудников.
						p Результат получился достойным, клиент был полностью доволен и мы решили качественно пополнить свое портфолио.
				figure.text-container__img
					img(src="img/photos/top-right-img.jpg")
			section.text-container.text-container--center-text.text-container--left-img
				.wrapper
					.text-container__text
						p По согласованию с клиентом мы подготовили для него “отзыв под ключ”. То есть собрали необходимый фотоконтент (здесь отдельная благодарность нашим партнерам @ ), структурировали полученный результат и зафиксировали все это в текстовом формате. Отзыв доступен по ссылке - *ссылка”.
						p По итогу мы получили качественный отзыв для своего портфолио, а заказчик - улучшение коммуникаций с клиентами через сайт и приятный бонус от нашего агентства - “отзыв под ключ”, который отлично подчеркивает статусность компании @shininvest.ru
						p 
							i Мы благодарим “Шининвест” за доверие, и планируем дальше работать над качественной презентацией своих результатов.
								br
								| #хэштеги
				figure.text-container__img
					img(src="img/photos/top-left-img.jpg")
			section.text-container
				.wrapper
					.text-container__title
						p
							b «Шининвест» 
							| стремится быть на шаг впереди: чтобы оставаться в лидерах, мы внедряем много нестандартных решений. И подрядчиков в ИТ-сфере выбираем по такому же принципу
			section.text-container.text-container--top-text.text-container--right-img
				.wrapper
					.text-container__text
						p Мы смотрим на бизнес как на захватывающую гонку: быть первым — значит всегда действовать на опережение. Много стратегии и контроль процесса на всех этапах. Нас очень интересуют результаты и рост.  
							br
							| В автомобильной теме обязательны экспертность и профессионализм. Клиенты это всегда чувствуют. Поэтому общение с нами важно было сделать максимально удобным. 
						p Так на новом сайте появилась запись на сервис в один клик для клиентов и функциональный инструмент работы с заявками для сотрудников.  