<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Отзыв - шининвест
		include inc/head.pug
		include inc/css.pug
	body
		main#content
			section.top-banner
				figure.top-banner__img
					img(src="img/photos/reviews-top-img.jpg")
					figcaption.top-banner__text
						span.top-banner__text-subtitle Ирина Иванова, CEO «Шининвест»
						span.top-banner__text-title «Мы мыслим системно, нам важен комплексный подход к IT-инфраструктуре»
				button.top-banner__scroller
			section.text-container.text-container--center-text.text-container--right-img
				.wrapper
					.text-container__text
						p Комплексный подход при создании it-продукта - специфика нашего digital-агентства. Очень важно не просто создать качественный продукт и оправдать все ожидания заказчика, но и получить от него обратную связь.
						p Например, для @shininvest.ru мы спрограммировали сайт, внедрив в него  возможность записи на сервис в один клик для клиентов и функциональный инструмент работы с заявками для сотрудников.
						p Результат получился достойным, клиент был полностью доволен и мы решили качественно пополнить свое портфолио.
				figure.text-container__img
					img(src="img/photos/top-right-img.jpg")
					figcaption.text-container__img-text «Шининвест»
			section.text-container.text-container--center-text.text-container--left-img
				.wrapper
					.text-container__text
						p По согласованию с клиентом мы подготовили для него “отзыв под ключ”. То есть собрали необходимый фотоконтент (здесь отдельная благодарность нашим партнерам @ ), структурировали полученный результат и зафиксировали все это в текстовом формате. Отзыв доступен по ссылке - *ссылка”.
						p По итогу мы получили качественный отзыв для своего портфолио, а заказчик - улучшение коммуникаций с клиентами через сайт и приятный бонус от нашего агентства - “отзыв под ключ”, который отлично подчеркивает статусность компании @shininvest.ru
						p(style="font-style: italic")
							i Мы благодарим “Шининвест” за доверие, и планируем дальше работать над качественной презентацией своих результатов.
								br
								| #хэштеги
				figure.text-container__img
					img(src="img/photos/top-left-img.jpg")

			section.text-container
				.wrapper
					.text-container__title
						p
							b «Шининвест»
							| стремится быть на шаг впереди: чтобы оставаться в лидерах, мы внедряем много нестандартных решений. И подрядчиков в ИТ-сфере выбираем по такому же принципу
			section.text-container.text-container--top-text.text-container--right-img
				.wrapper
					.text-container__text
						p Мы смотрим на бизнес как на захватывающую гонку: быть первым — значит всегда действовать на опережение. Много стратегии и контроль процесса на всех этапах. Нас очень интересуют результаты и рост.
							br
							| В автомобильной теме обязательны экспертность и профессионализм. Клиенты это всегда чувствуют. Поэтому общение с нами важно было сделать максимально удобным.
						p Так на новом сайте появилась запись на сервис в один клик для клиентов и функциональный инструмент работы с заявками для сотрудников.
					figure.text-container__img
						img(src="img/photos/mid-right-img.jpg")
			br
			br
			br
			br
			br
			section.text-container.text-container--bot-text.text-container--left-img.text-container--right-text
				.wrapper
					.text-container__text
						.text-container__text-title Клиенты отреагировали быстро — отметили, что
							b  сервис стал удобнее,
							|  скорость работы повысилась
						p В сезон пиковых нагрузок мы хотим быть уверены в стабильной работе сервиса. Поэтому изначально создавали высоконагруженную отказоустойчивую ИТ-инфраструктуру — это надежность, скорость и новые впечатления клиентов от работы с нами
					figure.text-container__img
						img(src="img/photos/mid-left-img.jpg")
			br
			br
			section.text-container.text-container--center-text.text-container--right-img
				.wrapper
					.text-container__text.text-container__text--small
						.text-container__text-title Что мы
							b  ценим
							|  в Xpage?
						p
							b Экспертность
							|  — очень глубокое погружение в проект и тонкая реализация действительно сложных технических аспектов
						p
							b Точность
							|  — подчёркнутая пунктуальность в отношении сроков работ
						p
							b Проактивность
							|  — умение видеть со стороны и действовать. Ценно!
					figure.text-container__img
						img(src="img/photos/bot-right-img.jpg")
			br
			br
			section.text-container.text-container--center-text.text-container--left-img
				.wrapper
					.text-container__text
						.text-container__text-title Что мы
							b  получили
							|  —
							br
							| в сухом остатке:
						br
						br
						br
						ul
							li Быстрая работа сайта без сбоев в пиковое время
							li Полный контроль над выполнением заявок
							li Запись клиентов на сервис в два клика
							li Обновлённая система обработки заказов
							li Качественное улучшение коммуникаций с клиентами
					figure.text-container__img
						img(src="img/photos/bot-left-img.jpg")
			section.text-container.text-container--quote
				.wrapper
					.text-container__quote
						blockquote Гордость рекомендовать подрядчиков такого уровня
			section.about-container
				.wrapper
					.about
						.about__text
							.about__text-title О клиенте
							.about__text-text
								p «Шининвест» — крупный поставщик автомобильных шин, дисков, аккумуляторов и запчастей в Урало-Сибирском регионе
						.about__list
							.about__list-item
								.about__text-title Год
								.about__text-text 2018
							.about__list-item
								.about__text-title Руководитель проекта
								.about__text-text Ильдар Чуракаев
							.about__list-item
								.about__text-title Команда проекта
								.about__text-text Дмитрий Жердев, Иван Климов…
								<!-- И Данил страдал от вёртски Гронского -->
					a.next-link(href="#")
						span Следующий отзыв
			section.next-review__cont
				.next-review
					figure.next-review__img
						img(src="img/photos/next-review.jpg")
					figcaption.next-review__text
						.wrapper
							a.next-review__text-title(href="#") «LORENA кухни»
							a.next-review__text-subtitle(href="#") 2017 / Федеральная сеть, Уникальный дизайн, Личный кабинет
	include inc/scripts.pug